<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
            http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jndi.properties</value>
			</list>
		</property>
	</bean>

	<bean id="jndiIndexTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.provider.url">${java.naming.provider.url}</prop>
				<prop key="java.naming.factory.initial">${java.naming.factory.initial}</prop>
				<prop key="java.naming.security.principal">${jms.connection.UserCredentials.username}</prop>
				<prop key="java.naming.security.credentials">${jms.connection.UserCredentials.password}</prop>
			</props>
		</property>
	</bean>

	<bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>jms/RemoteConnectionFactory</value>
		</property>
	</bean>
	<bean id="transportConfiguration140" class="org.hornetq.api.core.TransportConfiguration">
		<constructor-arg value="org.hornetq.core.remoting.impl.netty.NettyConnectorFactory" />
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.Object">
				<entry key="host" value="192.168.1.140"></entry>
				<entry key="port" value="5445"></entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="transportConfiguration141" class="org.hornetq.api.core.TransportConfiguration">
		<constructor-arg value="org.hornetq.core.remoting.impl.netty.NettyConnectorFactory" />
		<constructor-arg>
			<map key-type="java.lang.String" value-type="java.lang.Object">
				<entry key="host" value="192.168.1.141"></entry>
				<entry key="port" value="5445"></entry>
			</map>
		</constructor-arg>
	</bean>
	<bean id="hornetFactory" class="org.hornetq.api.jms.HornetQJMSClient" factory-method="createConnectionFactoryWithHA">
		<constructor-arg name="jmsFactoryType" type="org.hornetq.api.jms.JMSFactoryType" value="XA_CF"></constructor-arg>
		<constructor-arg name="initialServers">
			<list>
				<ref bean="transportConfiguration140"/>
				<ref bean="transportConfiguration141"/>
			</list>
		</constructor-arg>
<!-- 		<constructor-arg type="org.hornetq.api.core.TransportConfiguration" ref="transportConfiguration140"></constructor-arg> -->
<!-- 		<constructor-arg type="org.hornetq.api.core.TransportConfiguration" ref="transportConfiguration141"></constructor-arg> -->
	</bean>
<!-- 	<bean id="hornetFactory" class="org.hornetq.jms.client.HornetQConnectionFactory"> -->
<!-- 	<constructor-arg name="serverLocator" ref="serverLocator"></constructor-arg> -->
<!-- 	</bean> -->
	<bean id="myConnectionFactory" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter" lazy-init="true">
		<property name="targetConnectionFactory" ref="hornetFactory" />
		<property name="username" value="${jms.connection.UserCredentials.username}" />
		<property name="password" value="${jms.connection.UserCredentials.password}" />
	</bean>

	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<bean class="org.springframework.jms.connection.SingleConnectionFactory">
				<property name="targetConnectionFactory" ref="myConnectionFactory" />
			</bean>
		</property>
	</bean>

	<bean id="producer" class="com.asb.ponnbi.t1.MessageProducer">
		<property name="template" ref="jmsTemplate" />
		<property name="destination" ref="destination" />
	</bean>

	<bean id="destination" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName">
			<value>/jms/test</value>
		</property>
		<property name="jndiTemplate">
			<ref bean="jndiIndexTemplate" />
		</property>
	</bean>

	<bean id="messageListener" class="com.asb.ponnbi.t1.MessageConsumer" />

	<bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="myConnectionFactory" />
		<property name="destination" ref="destination" />
		<property name="messageListener" ref="messageListener" />
	</bean>



</beans>